# Executables
bin/basic-miktex*
bin/blender*
bin/DualSPHysics*
bin/Elmer*
bin/FreeCAD*
bin/gmsh*
bin/gp*
bin/JabRef*
bin/julia*
bin/LAMMPS*
bin/OpenModelica*
bin/ParaView*
bin/PortableGit*
bin/SALOME*
bin/SU2*
bin/texstudio*
bin/vmd*
bin/VSCode*
bin/WPy64*

# VSCode ignores.
vscode/argv.json
vscode/extensions/*
vscode/user-data/*

# Keep extensions..
!vscode/extensions/wally-*
!vscode/extensions/README.md

# User settings requires a few steps.
!vscode/user-data/User/
vscode/user-data/User/**/
!vscode/user-data/User/settings.json
