# Executables
bin/basic-miktex*
bin/blender*
bin/DualSPHysics*
bin/Elmer*
bin/FreeCAD*
bin/gmsh*
bin/gp*
bin/JabRef*
bin/julia*
bin/ParaView*
bin/PortableGit*
bin/SALOME*
bin/SU2*
bin/texstudio*
bin/VSCode*
bin/WPy64*
