# Ignore all for now
/[0-9]*/

# Compiled extensions
*.so
*.dll

# Generated grids (unless explicitly unignored)
*.unv

# Elmer mesh
*.boundary
*.elements
*.header
*.nodes

# Results
*.vtu
*.dat
*.dat.names

# Execution logs
log.*
